@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* @import 'node_modules/modern-normalize/modern-normalize.css'; */


*{
    
   
    list-style: none;
  
     
}

body{
    font-family:  'Roboto', 'Releway', sans-serif;
    background: #FFFFFF;
    line-height: 1.5;
    
   
    
}



/*  estilos header links y botones */
                       /*estilo links header  */
.webstudio {
    color: #2196F3;
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
}

header{
    border-bottom: 1px solid #ECECEC;
}
header a{
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    
}

header a:hover{
    color:#2196F3;
    text-decoration: underline;
}

header .address{
    text-align: center;
    
}

                      /* estitulos titulo index nav */

.nav-titulo{
    background: #2F303A;
}

.title{
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    color:#FFFFFF
}


                     /*  estilos para titulos y parrafos index */

.section-parrafos h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #212121;
}
.section-parrafos p{
    font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #757575;
}

.titulos-segundarios{
    font-size: 36;
    line-height: 42px;
    font-weight: 700;
    color: #212121;
}

/* estilos de out team */

.section-team{
    background: #F5F4FA;
}

.section-team h4{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    
        line-height: 19px;
    
}
.section-team p{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #757575;
    
}

/*  footer estilos p */
footer{
    background: #2F303A;
    
}
.footer{
    line-height: 24px;

}
.footer p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

/**********************************************************************************************************************************************************/
                     /* estilo botones */

.buttons .button {
    
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
  
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    
}


.buttons .button:hover {
    
    background: #2196F3;
    color: white;

}


/******************************* estilos foooter***********************/
                        
.box a{

    color: #212121;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.box a:hover {
    color: #2196F3;
    text-decoration: underline;
}



/****************************************************************************************estilos pagina portfolio******************************************************/


article h4{
    font-size: 18px;
    color: #212121;
    line-height: 30px;
}

article p{
    font-size: 16px;
    color: #757575;
    line-height: 30px;
}


/**************sirve para centrar el contenido y alinaer los elemtos para el contenedor principal*******************************/

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.flex-container li{
    margin: 30px;
}

/*****************************centra los titulos*************************************************************/
.title{
    text-align: center; 
}

.titulos-segundarios{
    text-align: center; 
}


/*******************centra los botones y les da separacion uno del otro***********************************/

  
.buttons{
    display:flex ;
    align-items: flex-start;
    justify-content: center;
    letter-spacing: 0.06em;
    
}
.button{
    margin: 5px;
}

/************centra las imagenes de portafolio y les da sepacion una de otra***************/

.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    padding: 80px;
    margin: 80px;
    justify-content: center;
    align-content: flex-start;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    
}
.portfolio img{
    
width: 370px;
height: 294px;
}
.portfolio li{
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

